@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 50% 98%;
    --foreground: 20 14% 10%;
    --card: 40 40% 94%;
    --card-foreground: 20 14% 10%;
    --popover: 40 40% 94%;
    --popover-foreground: 20 14% 10%;
    --primary: 0 53% 31%;
    --primary-foreground: 0 0% 98%;
    --secondary: 45 86% 92%;
    --secondary-foreground: 45 50% 20%;
    --muted: 40 30% 90%;
    --muted-foreground: 24 5% 45%;
    --accent: 45 78% 59%;
    --accent-foreground: 20 14% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 20% 85%;
    --input: 40 20% 88%;
    --ring: 45 78% 59%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 95%;
    --card: 20 14% 8%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14% 8%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 63% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 45 70% 12%;
    --secondary-foreground: 45 90% 90%;
    --muted: 20 14% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 45 86% 65%;
    --accent-foreground: 20 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 20%;
    --input: 20 14% 15%;
    --ring: 45 86% 65%;
    --radius: 0.8rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
